{% extends 'base.html.twig' %}

{% block title %}Sign in - Dream Holiday{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/auth.css') }}">
{% endblock %}
{% block body %}
<div id="hero">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-8 col-md-6 col-lg-9 col-xl-6">
                {% set form = form.createView %}
                {{ form_start(form) }}
                <div class="row login-form-row justify-content-center">
                    <div class="col-lg-6 form-space">
                        <h5 class="form-title">Enter password to access settings</h5>
                        {% for error in errors %}
                            <div class="alert alert-danger mx-3 py-2" role="alert">{{ error }}</div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="inputPassword">{{ form_label(form.password) }}</label>
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="form-check">
                        </div>
                        <div class="text-center" id="auth-button-container">
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
