{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/offer_card.css') }}">
{% endblock %}

{% block page_content %}
    <div id="hero-presentation">
        <h1 class="text-center pt-5" id="title">travel the world</h1>
        <h2 class="text-center mt-2" id="subtitle"><span class="subtitle-ndash">&ndash;&ndash;</span> Book Today with
            Dream Holiday <span class="subtitle-ndash">&ndash;&ndash;</span></h2>
        <div class="row justify-content-center mt-4">
            <div id="search-form-container">
                {{ form_start(form) }}
                {{ form_label(form.departureSpot) }}
                <div class="input-group mb-2 mt-2 mr-sm-2">
                    <div class="input-group-prepend mt-2 mb-2 mr-1">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    {{ form_widget(form.departureSpot) }}
                </div>
                {{ form_label(form.destination) }}
                <div class="input-group mb-2 mt-2 mr-sm-2">
                    <div class="input-group-prepend mt-2 mb-2 mr-1">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    {{ form_widget(form.destination) }}
                </div>
                {{ form_label(form.departureDate) }}
                <div class="input-group mb-2 mt-2 mr-sm-2">
                    {{ form_widget(form.departureDate) }}
                    <div class="input-group-append mt-2 mb-2">
                        <i class="far fa-calendar-check"></i>
                    </div>
                </div>
                {{ form_label(form.comebackDate) }}
                <div class="input-group mb-2 mt-2 mr-sm-2">
                    {{ form_widget(form.comebackDate) }}
                    <div class="input-group-append mt-2 mb-2">
                        <i class="far fa-calendar-check"></i>
                    </div>
                </div>
                <div class="input-group mb-2 mt-2 mr-sm-2 search-input-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'search-form-submit-btn pr-2 pb-3 pt-3 pl-2'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="featured-offers-presentation">
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% for offer in featuredOffers %}
                    <a href="{{ path('offer_single', {'id': offer.id}) }}" class="f-offer-card-link">
                        <div class="card f-offer-card">
                            <img class="card-img-top" src="{{ offer.photosDirectory }}/1.jpg"
                                 alt="Card image cap">
                            <div class="card-body d-flex justify-content-between flex-column">
                                <div>
                                    <h5 class="card-title" title="{{ offer.offerName }}">{{ offer.offerName }}</h5>
                                    <p class="card-offer-duration"><i class="fas fa-clock duration-icon"></i> Duration:
                                        {% set difference = date(offer.comebackDate).diff(date(offer.departureDate)) %}
                                        {{ difference.days }} days
                                    </p>
                                    <div class="card-text card-offer-description">{{ offer.description }}</div>
                                    {% if offer.rating %}
                                        {% for i in 1..offer.rating %}
                                            <span class="fas fa-star"></span>
                                        {% endfor %}
                                        {% if offer.rating<5 %}
                                            {% for i in 1..(5-offer.rating) %}
                                                <span class="far fa-star"></span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div>
                                    <p class="card-offer-price">&dollar;{{ offer.offerPrice }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="offer-types-presentation">
        <h3 class="text-center">Follow Your Dreams</h3>
        <p class="text-center"><span class="subtitle-ndash">&ndash;&ndash;</span> Make them come True <span
                    class="subtitle-ndash">&ndash;&ndash;</span></p>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'First Minute'}) }}"><i class="fas fa-calendar-day"></i> First
                    minute</a>
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'Last Minute'}) }}"><i class="fas fa-stopwatch"></i> Last
                    minute</a>
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'All Inclusive'}) }}"><i class="fas fa-star"></i> All inclusive</a>
            </div>
            <div class="row justify-content-center">
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'For Children'}) }}"><i class="fas fa-child"></i> For children</a>
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'Group Tours'}) }}"><i class="fas fa-users"></i> Group
                    Tours</a>
                <a class="col-3 col-lg-2 text-center offer-type-btn" href="{{ path('offer_browse', {'offerType': 'Cruises'}) }}"><i class="fas fa-anchor"></i> Cruises</a>
            </div>
        </div>
    </div>
    <div id="offer-benefits-presentation">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-4 col-lg-2 text-center offer-benefit-col">
                    <i class="fas fa-plane-departure"></i>
                    <p>Plane tickets?</p>
                </div>
                <div class="col-4 col-lg-2 text-center offer-benefit-col">
                    <i class="fas fa-hotel"></i>
                    <p>Hotel reservation?</p>
                </div>
                <div class="col-4 col-lg-2 text-center offer-benefit-col">
                    <i class="fas fa-map-marked-alt"></i>
                    <p>Guides?</p>
                </div>
            </div>
            <h4 class="text-center">We got it all covered for you!</h4>
        </div>
    </div>
    <div id="why-us-section">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda dolor id itaque iusto
                        maxime molestias repellendus tempore. A ad alias amet animi atque aut, culpa cum dolore dolorem
                        dolores eaque, eligendi error ex expedita facere fuga fugiat impedit iure libero mollitia neque
                        odit pariatur, quam quas quibusdam rem repellendus tempore tenetur totam veritatis! Atque aut
                        blanditiis corporis dolorum illo inventore, laudantium maxime nihil provident quasi quisquam
                        ratione reprehenderit similique temporibus ut. Cupiditate distinctio dolorem et nisi quisquam
                        repudiandae. Accusamus et laborum nam reiciendis reprehenderit saepe soluta tempora? Aperiam,
                        autem blanditiis consequatur fugit hic illo laborum quasi voluptatibus? Odit, soluta!</p>
                    <div class="text-center">
                        <img src="{{ asset('images/compass.svg') }}" alt="compass">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('javascript/lineLimiter.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.datepicker').datepicker({
                weekStart: 1,
                startDate: '-0d',
                daysOfWeekHighlighted: "6,0",
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
                clearBtn: true,
                orientation: "bottom left",
            });
            $('#booking_offer_search_departureDate').datepicker().on('changeDate', function(e) {
                let minDate = new Date(e.date.valueOf() + 1000 * 3600 * 24);
                $('#booking_offer_search_comebackDate').datepicker('setStartDate', minDate);
            })
            $('#booking_offer_search_comebackDate').datepicker().on('changeDate', function(e) {
                let maxDate = new Date(e.date.valueOf() - 1000 * 3600 * 24);
                $('#booking_offer_search_departureDate').datepicker('setEndDate', maxDate)
            })
            $('.card-offer-description').each(function () {
                limitLines(this,5);
            });
        })
    </script>
{% endblock %}